<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">MtBnb</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- TODO: Implement this search -->
      <form class="d-flex gap-2" role="search">
        <label class="form-label">
          Where
          <input class="form-control me-2" type="search" placeholder="Search destinations" aria-label="Search destinations">
        </label>
        <label class="form-label">
          Check in
          <input class="form-control me-2" type="date" aria-label="Check in">
        </label>
        <label class="form-label">
          Check out
          <input class="form-control me-2" type="date" aria-label="Check out">
        </label>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
