<div class="container-fluid">
  <h2>My Reservations</h2>
  <% if @reservations.blank? %>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>You have no reservations yet.</p>
      </div>
    </div>
  <% else %>
    <div id="reservations">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Room</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @reservations.each do |reservation| %>
            <tr>
              <td><%= link_to reservation.room.name, room_path(reservation.room), class: "link-primary" %></td>
              <td><%= reservation.start_date.strftime("%d/%m/%Y") %></td>
              <td><%= reservation.end_date.strftime("%d/%m/%Y") %></td>
              <td class="text-right"><%= button_to "Delete", reservation_path(reservation), method: :delete, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  <% end %>
</div>
