<h1>Choisissez votre destination</h1>
<!-- TODO: Display rooms available for booking -->
<div class="container d-flex justify-content-around">
  <% @available_rooms.each_slice(6) do |rooms| %>
    <div class="row">
      <% rooms.each do |room| %>
        <div class="card col-md-3" style="width: 18rem;">
          <%= image_tag("pic.jpg") %>
          <div class="card-body">
            <h5 class="card-title"><%= room.title %></h5>
            <p class="card-text"><%= room.description %></p>
            <%= link_to "Réserver ", room, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  <%end%> 
</div>


