<h1 class="text-center">ROOMS LIST</h1>

<div class="container my-4">
  <%= turbo_frame_tag "rooms", target: "_top" do %>
    <div id="rooms" class="row g-4">
      <%= render partial: "rooms/room", collection: @rooms, as: :room, cache: true %>
    </div>
  <% end %>
</div>
