<h1 class="text-center">ROOMS LIST</h1>

<div class="container my-4">
  <%= turbo_frame_tag "rooms", target: "_top" do %>
    <div class="row">
      <%= render partial: "rooms/room", collection: @rooms, as: :room, cache: true %>
    </div>

    <div class="mt-4">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
