<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>
<!-- TODO: Display rooms data: Name, Location, Picture(s), Price per night -->
<!-- TODO: Allow to reserve the room for various periods of time -->
