<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>
<!-- TODO: Display room data: Name, Location, Picture(s), Price per night -->
<!-- TODO: Allow to reserve the room for various periods of time -->
<div>Room</div>
<div><%= @room.id %></div>
<div><%= @room.name %></div>
<div><%= @room.location %></div>
<div><%= @room.price %></div>